  /*初始化样式*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PingFang SC','Helvetica Neue','Helvetica','STHeitisc-light','Arial',
    'SansSerif','microsoft yahei','宋体';
}
h1,h2,h3,h4,h5,h6{  font-weight: normal;  }

.fl{ float: left;  }
.fr{ float: right;  }

li{ list-style: none;  }

a{  text-decoration: none;  }

i,em{font-style: normal}
.clearfixd::after{
    content: '';
    display: block;
    height: 0;
    visibility: visible;
    clear: both;
}
img{
    border: none;
}/*解决IE浏览器兼容问题*/